<section id="faq" class="faq section-bg flex-grow-1">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <p>User Settings</p>
      </div>

      <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

        <li>
          <a href="/settings-personal">
            <div class="collapsed question">Personal Information</div>
          </a>
        </li>

        <li>
          <a href="/settings-education">
            <div class="collapsed question">Education</div>
          </a>
        </li>

        <li>
            <a href="/settings-experience">
              <div class="collapsed question">Professional Experience</div>
            </a>
          </li>

          <li>
            <a href="/settings-skills">
              <div  class="collapsed question">Professional Skills</div>
            </a>
          </li>

          <li>
            <a href="/settings-languages">
              <div  class="collapsed question">Languages</div>
            </a>
          </li>

          <li>
            <a href="/settings-projects">
              <div  class="collapsed question">Projects</div>
            </a>
          </li>

          <li>
            <a href="/settings-profile">
              <div  class="collapsed question">Profile</div>
            </a>
          </li>

          <li>
            <a href="/settings-account">
              <div  class="collapsed question">Account</div>
            </a>
          </li>

      </ul>

    </div>
  </section>