<%- include('partials/header'); -%>
<div id="contact" class="contact">
    <div class="section-title" style="margin-top: 5%;">
        <h2>Register</h2>
        <p>Projects</p>
      </div>
    <div class="container">
        <form id="projects-form" action="/finish" method="post" role="form" class="php-email-form">
            <div id="projectContainer">
                <div class="mb-4">
                    <label for="title" class="form-label" id="project-label">Project title</label>
                    <input type="text" class="form-control" name="projectTitle" id="title" placeholder="Enter your project title" required>
                </div>
                <div class="mb-4">
                    <label for="sub" class="form-label">Sub Title</label>
                    <input type="text" class="form-control" name="subTitle" id="sub" placeholder="Enter sub title" required>
                </div>
                <div class="row mb-4">
                    <div class="col-6">
                        <label for="start" class="form-label">Start Date</label>
                        <input id="start" name="startDate" class="form-control" type="date" required/>
                    </div>
                    <div class="col-6">
                        <label for="end" class="form-label">End Date</label>
                        <input id="end" name="endDate" class="form-control mb-2" type="date" required/>
                        <span>
                            <input class="form-check-input" type="checkbox" name="endDate" value="" id="toggleCheckbox">
                            <label for="flexCheckDefault">
                              Present
                            </label>
                        </span>
                    </div>
                </div>
                <div class="d-flex flex-row-reverse">
                    <button type="button" id="deleteproject" class=" mb-4">Delete</button>
                </div>
            </div>
            <div class="text-center">
                <button type="button" id="addproject">Add Another Project</button>
                <button type="submit">Finish ></button></div>
          </form>
    </div>
    
  </div>

  <%- include('partials/footer'); -%>

  
  
  <script>
    $(document).ready(function () {
        var fieldCount = $("#projectContainer div").length
        var projectCounter = 1;
        $('#addproject').click(function () {
            projectCounter++;
            fieldCount = fieldCount + 9
            var newproject = $('#projectContainer').first().clone();
            newproject.find('input').val('');
            newproject.find('#project-label').text('Project ' + projectCounter);
            newproject.find('#end').prop('disabled', false).prop('required', true).prop('required', true);
            newproject.find('#toggleCheckbox').prop('checked', false);            newproject.prepend('<hr class="hr" />');
            newproject.insertBefore($('.text-center'));
        });

        $("#projects-form").on("click", "#deleteproject", function (e) {
                    e.preventDefault();
                    if (fieldCount > 6) {
                        $(this).parent().parent().remove();
                        fieldCount = fieldCount - 9

                    } else {
                        alert("At least one field is required.");
                    }
                });
    });

    $(document).ready(function() {
        $('#toggleCheckbox').on('change', function() {
            if ($(this).is(':checked')) {
                $('#end').prop('disabled', true).prop('required', false).val('');
            } else {
                $('#end').prop('disabled', false).prop('required', true);
            }
        });
    });
</script>
