<%- include('partials/header'); -%>
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">
      <div class="d-flex justify-content-md-center align-items-center">
        <div>
          <div class="d-flex justify-content-md-center align-items-center about-img">
            <img src="img/finished-icon.png" class="img-fluid" alt="" data-aos="zoom-in" width="200" height="200">
          </div>
          <div>
            <h3 data-aos="fade-up">Registration Complete</h3>
            <p data-aos="fade-up" data-aos-delay="100">
              Your account is all set up. Start networking and connecting with people <a href="/login">now</a>.
            </p>
          </div>
        </div>
      </div>
      

    </div>
  </section><!-- End About Section -->

  <%- include('partials/footer'); -%>
