<%- include('partials/header'); -%>

<div class="row h-100">
    <div class="col-md-3 col-lg-3 d-flex">
        <%- include('partials/settings-sidebar'); -%>
    </div>

    <div class="col-md-9 col-lg-9 ">
        <div id="contact" class="contact">
            <div class="section-title" style="margin-top: 5%;">
                <h2>Settings</h2>
                <p>Languages</p>
              </div>
            <div class="container">
                <form id="items-form" action="/update-languages" method="post" role="form" class="php-email-form">
                    <% data.forEach(item=> { %>
                    <div id="languageContainer">
                        <div class="mb-4 ml-5">
                            <label class="form-label" id="language-label">Language</label>
                            <input type="text" value="<%= item %>" name="language" class="form-control" id="language" aria-describedby="language" placeholder="Enter language" required>
                        </div>
                        <div class="d-flex flex-row-reverse">
                            <button type="button" id="deleteitem" class=" mb-4">Delete</button>
                        </div>
                    </div>
                    <% }); %>
                    <div class="text-center">
                        <button type="button" id="addLanguage">Add Another Language</button>
                        <button type="submit">Save</button></div>
                  </form>
            </div>
            
          </div>
    </div>
</div>

  <%- include('partials/footer'); -%>

  
  
<script>
    $(document).ready(function () {
        var fieldCount = $("#languageContainer div").length 
        var languageCounter = 1;
        $('#addLanguage').click(function () {
            languageCounter++;
            fieldCount = fieldCount + 2
            var newLanguage = $('#languageContainer').first().clone();
            newLanguage.find('input').val('');
            newLanguage.prepend('<hr class="hr" />');
            newLanguage.insertBefore($('.text-center'));
        });

        $("#items-form").on("click", "#deleteitem", function (e) {
                    e.preventDefault();
                    if (fieldCount > 2) {
                        $(this).parent().parent().remove();
                        fieldCount = fieldCount - 2

                    } else {
                        alert("At least one field is required.");
                    }
                });
    });
</script>
